

<header class="top-nav" [ngClass]="{'scrolled' : isScrolled }" >
    <a href="" class="logo"  #logo> <img class="banner" src="../../../assets/images/Animation - 1702190724762.gif" alt="" height="80px" width="80px"></a>
 
 <input type="checkbox" id="menu-bar">
 <!-- <label for="menu-bar"> Menu -->
 
 <label class="plate plate3" for="menu-bar"   onclick="this.classList.toggle('active')">
     <svg class="burger" fill="#fff" version="1.1" height="100" width="100" viewBox="0 0 100 100">
       <path class="line line1" d="M 50,35 H 30 C 6.9919512,35 5.5084746,123.72881 5.5084746,123.72881"></path>
       <path class="line line2" d="M 50,35 H 70 C 98.006349,35 92.796611,119.91525 92.796611,119.91525"></path>
       <path class="line line3" d="M 50,50 H 30 C 8.2796577,50 5.9322035,138.1356 5.9322035,138.1356"></path>
       <path class="line line4" d="M 50,50 H 70 C 91.152643,50 91.949152,133.21754 91.949152,133.21754"></path>
       <path class="line line5" d="M 50,65 C 50,65 47.570314,65 30,65 C 4.9857853,65 9.3220337,147.88136 9.3220337,147.88136"></path>
       <path class="line line6" d="M 50,65 H 70 C 91.937316,65 88.559322,144.91525 88.559322,144.91525"></path>
     </svg>
     <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
       <path class="line" d="M 34,32 L 66,68"></path>
       <path class="line" d="M 66,32 L 34,68"></path>
     </svg>
   </label>
 <!-- </label> -->
 <nav class="navbar" id="menu">
 

     <ul #menu>
         <li *ngIf="authService.getCurrentUser() !== null"><a href="">Home</a></li>
         <li  *ngIf="authService.getCurrentUser() !== null"><a [routerLink]="['/about']">About</a></li>
         <li  *ngIf="authService.getCurrentUser() !== null"><a [routerLink]="['/map']">Categories +</a>
           <ul  *ngIf="authService.getCurrentUser() !== null" class="subNav">
             <li ><a href="" >Stories</a></li>
             <li><a href="">Stories</a></li>
             <li><a >AL Books +</a>
             
             <ul  *ngIf="authService.getCurrentUser() !== null" class="subNav2">
                 <li><a href="">Bio</a></li>
                 <li><a href="">Chemistry</a></li>
                 <li><a href="">Physics</a></li>
             </ul>
         </li>
           </ul>
         </li>
         <li  *ngIf="authService.getCurrentUser() !== null"><a [routerLink]="['/deliverd']"> Oru blog</a></li>
         <li  *ngIf="authService.getCurrentUser() !== null"><a [routerLink]="['/contact']">Contact Us</a></li>
         <li  *ngIf="authService.getCurrentUser() !== null"><a [routerLink]="['/profile']">Profile</a></li>

       <!-- List item for logged out state -->
<li *ngIf="authService.getCurrentUser() === null">
  <a href="/login">Login</a>
</li>
<li *ngIf="authService.getCurrentUser() !== null">
  <!-- Add any other links or content you want to display for logged-in users here -->
  <a (click)="logOut()">
    Log Out</a>
</li>
 
     </ul>
 </nav>
 
 </header>
 