<body>

    <div class="hero_area">
      <!-- header section strats -->
    <app-navbar></app-navbar>


    <!-- <div class="imageFirst" #imageFirst > -->
      <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container ">
                <div class="row img-row">
                  <div class="col-md-6" data-aos="fade-right"
                  data-aos-offset="300"
                  data-aos-easing="ease-in-sine"
                  data-aos-duration="1500">
                    <div class="detail-box">
                      <h5>
                      Bookstore
                      </h5>
                      <h1>
                        For All Your <br>
                        Reading Needs
                      </h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                      </p>
                      <a href="">
                        Read More
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- <div class="img-box">
                      <img src="../../../assets/images/slider-img.png" alt="">
                    </div> -->
                    <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../../../assets/images/slider-img.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../../../assets/images/slider-img.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../../../assets/images/slider-img.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      
                    </div>  
              
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h5>
                        Bostorek Bookstore
                      </h5>
                      <h1>
                        For All Your <br>
                        Reading Needs
                      </h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                      </p>
                      <a href="">
                        Read More
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="../../../assets/images/slider-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container ">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h5>
                        Bostorek Bookstore
                      </h5>
                      <h1>
                        For All Your <br>
                        Reading Needs
                      </h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                      </p>
                      <a href="">
                        Read More
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="../../../assets/images/slider-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="carousel_btn_box">
            <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
              <i class="fab fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
              <i class="fab fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div> -->
          <div class="carousel_btn_box">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>
  
  
    <!-- catagory section -->
  
    <section class="catagory_section layout_padding">
      <div class="catagory_container">
        <div class="container ">
          <div class="heading_container heading_center">
            <h2>
              Books Categories
            </h2>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            </p>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4 ">
              <div class="box ">
                <div class="img-box" >
                  <img  data-aos="zoom-in"  data-aos-duration="1500" src="../../../assets/images/cat1.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Textbooks
                  </h5>
                  <p>
                    fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The
                    point of using
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
              <div class="box ">
                <div class="img-box">
                  <img data-aos="zoom-in"  data-aos-duration="1500"  src="../../../assets/images/cat2.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Science
                  </h5>
                  <p>
                    fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The
                    point of using
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
              <div class="box ">
                <div class="img-box">
                  <img data-aos="zoom-in"  data-aos-duration="1500"  src="../../../assets/images/cat3.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    History
                  </h5>
                  <p>
                    fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The
                    point of using
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
              <div class="box ">
                <div class="img-box">
                  <img data-aos="zoom-in"  data-aos-duration="1500"  src="../../../assets/images/cat4.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Biography
                  </h5>
                  <p>
                    fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The
                    point of using
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
              <div class="box ">
                <div class="img-box">
                  <img data-aos="zoom-in"  data-aos-duration="1500"  src="../../../assets/images/cat5.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Adventure
                  </h5>
                  <p>
                    fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The
                    point of using
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
              <div class="box ">
                <div class="img-box">
                  <img data-aos="zoom-in"  data-aos-duration="1500"  src="../../../assets/images/cat6.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Fantasy
                  </h5>
                  <p>
                    fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The
                    point of using
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end catagory section -->
  
    <!-- about section -->
  
    <section class="about_section layout_padding">
      <div class="container ">
        <div class="row">
          <div class="col-md-6" data-aos="fade-right"
         
          data-aos-easing="ease-in-sine"
          data-aos-duration="1500">
            <div class="img-box"  >
              <img src="../../../assets/images/about-img.png" alt="">
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-left"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="1500">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About Our Bookstore
                </h2>
              </div>
              <p>
                At cumque tenetur iste molestiae, vel eum reiciendis assumenda! Numquam, repudiandae. Consequuntur obcaecati recusandae aliquam, amet doloribus eius dolores officiis cumque? Quibusdam praesentium pariatur sapiente mollitia, amet hic iusto voluptas! Iusto quo earum vitae excepturi, ipsam aliquid deleniti assumenda culpa deserunt.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end about section -->
  
    <!-- client section -->
  
    <section class="client_section layout_padding">
      <div class="container ">
        <div class="heading_container heading_center" 
        >
          <h2>
            What Says Customers
          </h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto"   
          data-aos="zoom-out-right"
          data-aos-offset="300"
         data-aos-easing="ease-in-sine"
         data-aos-duration="1500" >
            <div class="client_container ">
              <div class="detail-box">
                <p>
                  Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                </p>
                <span>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </span>
              </div>
              <div class="client_id">
                <div class="img-box">
                  <img src="../../../assets/images/c1.jpg" alt="">
                </div>
                <div class="client_name">
                  <h5>
                    Jone Mark
                  </h5>
                  <h6>
                    Student
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mx-auto" 
          data-aos="zoom-out-right"
          data-aos-offset="300"
         data-aos-easing="ease-in-sine"
         data-aos-duration="1500">
            <div class="client_container ">
              <div class="detail-box">
                <p>
                  Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                </p>
                <span>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </span>
              </div>
              <div class="client_id">
                <div class="img-box">
                  <img src="../../../assets/images/c2.jpg" alt="">
                </div>
                <div class="client_name">
                  <h5>
                    Anna Crowe
                  </h5>
                  <h6>
                    Student
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mx-auto"  
          data-aos="zoom-out-right"
          data-aos-offset="300"
         data-aos-easing="ease-in-sine"
         data-aos-duration="1500">
            <div class="client_container ">
              <div class="detail-box">
                <p>
                  Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                </p>
                <span>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </span>
              </div>
              <div class="client_id">
                <div class="img-box">
                  <img src="../../../assets/images/c3.jpg" alt="">
                </div>
                <div class="client_name">
                  <h5>
                    Hilley James
                  </h5>
                  <h6>
                    Student
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end client section -->
  
    <!-- blog section -->
  
    <section class="blog_section layout_padding">
      <div class="container"  data-aos="fade-up"
      data-aos-duration="3000">
        <div class="heading_container heading_center">
          <h2>
            From Our Blog
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="../../../assets/images/b1.jpg" alt="">
                <h4 class="blog_date">
                  <span>
                    19 January 2021
                  </span>
                </h4>
              </div>
              <div class="detail-box">
                <h5>
                  Eius, dolor? Vel velit sed doloremque
                </h5>
                <p>
                  Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo? Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis cupiditate, ad beatae voluptatem numquam dignissimos ab porro
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="../../../assets/images/b2.jpg" alt="">
                <h4 class="blog_date">
                  <span>
                    19 January 2021
                  </span>
                </h4>
              </div>
              <div class="detail-box">
                <h5>
                  Minus aliquid alias porro iure fuga
                </h5>
                <p>
                  Officiis veritatis id illo eligendi repellat facilis animi adipisci praesentium. Tempore ab provident porro illo ex obcaecati deleniti enim sequi voluptas at. Harum veniam eos nisi distinctio! Porro, reiciendis eius.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
    <!-- end blog section -->
    <!-- <div id="bg" #imageFirst>
      <img src="../../../assets/images/background-book.png" alt="">
  </div> -->
    <!-- contact section -->
  
    <section class="contact_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="heading_container ">
              <h2 class="">
                Contact Us
              </h2>
            </div>
            <form  
            (ngSubmit)="onSubmit()"
            [formGroup]="myForm"
           
            >
              <div class="control">
                <input type="text" placeholder="Name"  formControlName="toName"/>

                <span
                *ngIf="submitted && f['toName'].errors"
                class="validation-error"
              >
                <span
                  class="validation-error"
                  class="validation-error"
                  *ngIf="f['toName'].errors['required']"
                >
                  Member is required!
                </span>
              </span>
              </div>
              <div class="control">
                <input type="email" placeholder="Email"   formControlName="fromEmail"/>
                <span
                *ngIf="submitted && f['fromEmail'].errors"
                class="validation-error"
              >
                <span
                  class="validation-error"
                  class="validation-error"
                  *ngIf="f['fromEmail'].errors['required']"
                >
                  email is required!
                </span>
                <span
                class="validation-error"
                class="validation-error"
                *ngIf="f['fromEmail'].errors['email']"
              >
               enter valid email!
              </span>
              </span>
              </div>
              <div class="control">
                <input type="text" placeholder="Pone Number"  formControlName="phoneno" />
                <span
                *ngIf="submitted && f['phoneno'].errors"
                class="validation-error"
              >
                <span
                  class="validation-error"
                  class="validation-error"
                  *ngIf="f['phoneno'].errors['required']"
                >
                phoneno is required!
                </span>
              </span>
              </div>
              <div class="control">
                <input type="text" class="message-box" placeholder="Message"   formControlName="message"/>
                <span
                *ngIf="submitted && f['message'].errors"
                class="validation-error"
              >
                <span
                  class="validation-error"
                  class="validation-error"
                  *ngIf="f['message'].errors['required']"
                >
                message is required!
                </span>
              </span>
             
              </div>
              <div class="btn-box " >
                <button *ngIf="!loading">
                  SEND
                </button>
                 <button class=" btn-box lds-ring " *ngIf="loading">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="img-box ">
              <img src="../../../assets/images/contact-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end contact section -->
  
    <!-- info section -->
  
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 info-col" >
            <div class="info_detail">
              <h4>
                About Us
              </h4>
              <p>
                Vitae aut explicabo fugit facere alias distinctio, exem commodi mollitia minusem dignissimos atque asperiores incidunt vel voluptate iste
              </p>
              
            </div>
            <div class="info_social">
              <a href="">
                <i class="fab fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 info-col">
            <div class="info_contact">
              <h4>
                Address
              </h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    Location
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    Call +01 1234567890
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    demo@gmail.com
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 info-col">
            <div class="info_contact">
              <h4>
                Newsletter
              </h4>
              <form action=""  
               (ngSubmit)="onSubmit1()"
               [formGroup]="myForm1"
             >
                <input type="text" placeholder="Enter email" formControlName="email" />
                <span
                *ngIf="submitted && l['email'].errors"
                class="validation-error"
              >
                <span
                  class="validation-error"
                  class="validation-error"
                  *ngIf="l['email'].errors['required']"
                >
                  email is required!
                </span>
                <span
                class="validation-error"
                class="validation-error"
                *ngIf="l['email'].errors['email']"
              >
               enter valid email!
              </span>
              </span>
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 info-col">
            <div class="map_container">
              <div class="map" id="map">
                <!-- <google-map
                height="600px"
                width="750px"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)"
              
                >
               
                </google-map>
                <div> latitued: {{display?.lat}}</div>
                <div> longitude: {{display?.lng}}</div>
              
               -->

               <!-- <google-map
               height="600px"
               width="750px"
               (mapClick)="moveMap($event)"
             ></google-map> -->
           <div #map id="map"></div>
             <div *ngIf="display">
               <div>Latitude: {{ display.lat }}</div>
               <div>Longitude: {{ display.lng }}</div>
             </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end info section -->
  
    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By 
         <a href="https://html.design/">Angular</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->
  
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.js"></script>
 

  </body>
