@import '../../home/home-page/home-page.component.scss';

.login-layout{
    margin-top: 40px;
}

#login{
    background-color: #f7f7f7;
    box-shadow: 2px 3px 13px 0px #09817570;
    border-radius: 8px;
  }

.login-div{
   
    // margin-top: 50px;
    padding: 30px 40px;
}

.contact_section form {
  padding-right: 0; 
}

.link  {
    margin-top: 20px;

}
a{
    color: #44B89D;
}

/* Loader css */
.lds-ring {
    display: inline-block;
    position: relative;
    padding: 27px 20px;
    width: 150px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 8px;
    left: 180px;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width:767px) {
    .img-box{
        display: none;
    }
  }